<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="scripts/index.js"></script>
</head>

<body>
    <div class="outer-container">
        <div class="inner-container">
            <div class="header">
                <h1><%-input%></h1>
                <form>
                    <input placeholder="Enter Anything" id="inputBox">
                    <button class="button" role="button" type="button" onclick=callServer()>Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>